<!-- Header links space -->
<header class="mb-auto">
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" aria-current="page" href="/">Início</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Cadastre-se</a>
        <a class="nav-link" href="/about">Sobre</a>
    </nav>
</header>

<!-- Body space reservation. -->
<%- body %>