<%- contentFor('body') %>

<!-- Load the core css for this page. -->
<link rel="stylesheet" href="/css/cover.css">

<body class="d-flex h-100 text-center text-white bg-dark">
    <!-- Center message -->
    <main class="px-3">
        <h1 class="text-white"><b>Sobre</b></h1>
        <p class="lead">Este site, gestão financeira, tem como propósito, ajudar
            os usuários a manterem um controle de gastos, permitindo-os registrarem
            receitas e despesas a qualquer momento.
        </p>
    </main>

    <!-- Footer space social links -->
    <footer class="mt-auto text-white-50">
        <a href="https://github.com/jlmsc"><img class="mb-4" src="/github_icon.png" alt="Github" style="position: fixed; margin-left: -25px;" width="50" height="50"></a>
    </footer>
</body>