<%- contentFor('body') %>

<!-- Center text space -->
<main class="cover px-3">
    <h1 class="text-white"><b>Gestão Financeira</b></h1>
    <p class="lead">Um site que permite a inserção de receitas/despesas com o intento de que você, usuário, consiga controlar os seus gastos.</p>
    <p class="lead">
        <a href="/about" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Saiba mais</a>
    </p>
</main>