<%- contentFor('body') %>

<!-- Load the core css for this page. -->
<link rel="stylesheet" href="/css/loginregister.css">

<body class="d-flex text-center bg-dark">
    <main class="form-register">
        <form method="post" action="/register">
            <!-- Icon field -->
            <img class="mb-4" src="/icon.png" alt="Gestão Financeira" width="90" height="90">
            <h1 class="h3 mb-3 fw-normal text-white"><b>Crie uma conta</b></h1>

            <!-- Registration error field -->
            <% if (error) { %>
            <div class="alert alert-warning" role="alert">
                <div>
                    <%= error.message %>
                </div>
            </div>
            <% } %>

            <!-- Email field -->
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Nome de usuário" name="username">
                <label for="floatingInput">Nome de Usuário</label>
            </div>

            <!-- Password field -->
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" name="password">
                <label for="floatingPassword">Senha</label>
            </div>

            <!-- Password confirmation field -->
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" name="passwordConfirmation">
                <label for="floatingPassword">Repita a senha</label>
            </div>

            <!-- Create account text -->
            <p class="mt-4 mb-3 text-muted">Já tem uma conta? Faça o login <b><a href="/login">aqui</a></b> !</p>

            <!-- Register button -->
            <button class="w-100 btn btn-lg btn-primary" type="submit">Criar conta</button>
        </form>
    </main>
</body>